<div class="callback-btn">

    <div class="callback-btn__text-call">
        <svg class="callback-btn__phone">
            <use xlink:href="img/sprite.svg#call"></use>
        </svg>
        <span class="callback-btn__text">Заказать<br>звонок</span>
    </div> <!-- /.callback-btn__text-call -->

    <div class="callback-btn__form-wrapper">
        <svg class="callback-btn__close">
            <use xlink:href="img/sprite.svg#close"></use>
        </svg>
        <form action="#" id="dynamicCallForm" class="callback-form" name="dynamicCallForm">
            <input type="text"
                   class="callback-form__field _req"
                   placeholder="Как к вам обращаться?"
                   name="name"
                   autocomplete="off">
            <input type="text"
                   class="callback-form__field _req"
                   placeholder="Ваш номер телефона"
                   name="phone"
                   autocomplete="off">
            <input type="hidden" class="token" name="token">
            <div class="callback-form__policy-wrapper">
                <label class="callback-form__policy-label">
                    <input class="callback-form__policy-checkbox _req" name="policy" type="checkbox">
                    <span class="callback-form__policy-text">Ваши личные данные будут использоваться для поддержки
                вашего опыта работы с этим веб-сайтом описанного в нашей</span>
                </label>
                <a class="callback-form__policy-ref js-policy-ref" href="#">политике конфиденциальности.</a>
            </div>
            <button class="callback-form__submit btn-reset" type="submit" aria-label="Заказать звонок">Позвоните мне</button>
            <div class="success-message">
                <span>Заказ на звонок,</span>
                <span>принят, ожидайте!</span>
            </div>
        </form>

    </div>

</div> <!-- /.callback-btn -->

