<ul class="social">
    <li class="social__item">
        <a class="social__link social__link--tg"
           href="https://t.me/daria_cleaning"
           target="_blank"
           aria-label="переход на телеграмм"
           rel="noopener noreferrer">
            <svg>
                <use xlink:href="img/sprite.svg#soc_telegram"></use>
            </svg>
        </a>
    </li>
    <li class="social__item">
        <a class="social__link social__link--wts"
           href="https://wa.me/qr/6OSTXEXHZQSOA1"
           target="_blank"
           aria-label="переход на вотсап"
           rel="noopener noreferrer">
            <svg>
                <use xlink:href="img/sprite.svg#soc_whatsapp"></use>
            </svg>
        </a>
    </li>
<!--    <li class="social__item">-->
<!--        <a class="social__link social__link&#45;&#45;inst"-->
<!--           href="https://www.instagram.com/daria_cleaning"-->
<!--           target="_blank"-->
<!--           aria-label="переход на инстаграмм"-->
<!--           rel="noopener noreferrer">-->
<!--            <svg>-->
<!--                <use xlink:href="img/sprite.svg#soc_instagram"></use>-->
<!--            </svg>-->
<!--        </a>-->
<!--    </li>-->
</ul>