.bubble {
    position: fixed;
    z-index: -1;
    will-change: transform;

    &--small {
        width: 50px;
        height: 50px;

        &-first {
            left: 6%;
            top: 10%;
            background: center / cover no-repeat url("../img/bubbles/bubble_small-blur(3px).png");
        }

        &-second {
            left: 30%;
            top: 18%;
            background: center / cover no-repeat url("../img/bubbles/bubble_small2-blur(3px).png");
        }

        &-third {
            left: 12%;
            top: 63%;
            background: center / cover no-repeat url("../img/bubbles/bubble_small3-blur(3px).png");
        }

        &-fourth {
            left: 88%;
            top: 39%;
            background: center / cover no-repeat url("../img/bubbles/bubble_small4-blur(3px).png");
        }

        &-fifth {
            left: 68%;
            top: -5%;
            background: center / cover no-repeat url("../img/bubbles/bubble_small5-blur(3px).png");

            @include xs {
                display: none;
            }
        }

        &-sixth {
            left: 43%;
            top: -5%;
            background: center / cover no-repeat url("../img/bubbles/bubble_small2-blur(3px).png");

            @include xs {
                display: none;
            }
        }

        &-seventh {
            left: 56%;
            top: 55%;
            background: center / cover no-repeat url("../img/bubbles/bubble_small4-blur(3px).png");

            @include xs {
                display: none;
            }
        }
    }

    &--middle {
        width: 80px;
        height: 80px;

        &-first {
            left: 2%;
            top: 29%;
            background: center / cover no-repeat url("../img/bubbles/bubble_middle-blur(3px).png");
        }

        &-second {
            left: 46%;
            top: 27%;
            background: center / cover no-repeat url("../img/bubbles/bubble_middle2-blur(3px).png");

            @include xs {
                display: none;
            }
        }

        &-third {
            left: 55%;
            top: -5%;
            background: center / cover no-repeat url("../img/bubbles/bubble_middle3-blur(3px).png");

            @include xs {
                display: none;
            }
        }

        &-fourth {
            left: 91%;
            top: 41%;
            background: center / cover no-repeat url("../img/bubbles/bubble_middle4-blur(3px).png");

            @include xs {
                display: none;
            }
        }

        &-fifth {
            left: 82%;
            top: -26%;
            background: center / cover no-repeat url("../img/bubbles/bubble_middle4-blur(3px).png");

            @include xs {
                display: none;
            }
        }
    }

    &--large {
        width: 120px;
        height: 120px;

        &-first {
            left: 32%;
            top: 10%;
            background: center / cover no-repeat url("../img/bubbles/bubble_large-blur(2px).png");
        }

        &-second {
            left: 70%;
            top: -30%;
            background: center / cover no-repeat url("../img/bubbles/bubble_large2-blur(2px).png");
        }

        &-third {
            left: 14%;
            top: -68%;
            background: center / cover no-repeat url("../img/bubbles/bubble_large-blur(2px).png");
        }
    }
}