.callback-btn {
    position: absolute;
    right: 3%;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    border: 2px solid rgb(0, 219, 254);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
    text-align: center;
    background: rgba(var(--color-tree-na), 0.7);
    opacity: 0;
    animation: hoverWaveDynamicCall linear 1.2s infinite;
    cursor: pointer;

    .error-field {
        border-color: rgba(var(--error), 0.5);
        box-shadow: 0 15px 15px -15px var(--error-message);
        background: rgba(var(--error), 0.5);
    }

    .success-field {
        box-shadow: 0 15px 15px -15px var(--color-one);
        background: rgba(var(--color-one-na), 0.5);
    }

    &__text-call {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    &__text {
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        font-size: 0;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-two);
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    &__phone {
        width: 38px;
        height: 38px;
        fill: rgb(0, 219, 254);
        animation: 1200ms ease 0s normal none 1 running shake;
        animation-iteration-count: infinite;
    }

    &__form-wrapper {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    &__close {
        z-index: 20;
        margin-top: 10px;
        margin-bottom: -40px;
        width: 20px;
        height: 20px;
        fill: var(--color-one);
        transition: transform 0.5s ease-in-out;
        cursor: pointer;

        use {
            pointer-events: none;
        }

        &:hover {
            transform: rotate(180deg);
        }

        @include xs {
            margin-bottom: -30px;
            width: 16px;
            height: 16px;
        }
    }

    &:hover {
        .callback-btn__phone {
            display: none;
            font-size: 32px;
            color: var(--color-one);
        }

        .callback-btn__text {
            font-size: 13px;
            opacity: 1;
        }
    }
}

@keyframes shake {
    0% {
        transform: rotateZ(0deg);
    }

    10% {
        transform: rotateZ(-30deg);
    }

    20% {
        transform: rotateZ(15deg);
    }

    30% {
        transform: rotateZ(-10deg);
    }

    40% {
        transform: rotateZ(7.5deg);
    }

    50% {
        transform: rotateZ(-6deg);
    }

    60% {
        transform: rotateZ(5deg);
    }

    70% {
        transform: rotateZ(-4.28571deg);
    }

    80% {
        transform: rotateZ(3.75deg);
    }

    90% {
        transform: rotateZ(-3.33333deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes hoverWaveDynamicCall {
    0% {
        box-shadow: 0 0 5px rgba(0, 219, 254, 0.5), 0 0 0 0 rgba(0, 219, 254, 0.35), 0 0 0 0 rgba(0, 219, 254, 0.35);
    }

    40% {
        box-shadow: 0 0 5px rgba(0, 219, 254, 0.5), 0 0 0 7px rgba(0, 219, 254, 0.35), 0 0 0 0 rgba(0, 219, 254, 0.35);
    }

    80% {
        box-shadow: 0 0 5px rgba(0, 219, 254, 0.5), 0 0 0 15px rgba(0, 219, 254, 0), 0 0 0 13px rgba(0, 219, 254, 0.15);
    }

    100% {
        box-shadow: 0 0 5px rgba(0, 219, 254, 0.5), 0 0 0 15px rgba(0, 219, 254, 0), 0 0 0 20px rgba(0, 219, 254, 0);
    }
}