.callback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    line-height: 22px;
    background: rgba(var(--color-tree-na), 0.75);

    &__field {
        margin: 5px 0;
        outline: none;
        border: none;
        border-bottom: 2px solid var(--color-one);
        border-radius: 50px;
        padding: 10px 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: rgba(var(--color-two-na), 0.9);
        background-color: inherit;
        transition: 0.3s;

        &::placeholder {
            font-weight: 500;
            font-style: italic;
            font-size: 14px;
            color: var(--color-four);

            @include xs {
                font-size: 12px;
            }
        }

        &:focus {
            border-bottom: 2px solid rgba(var(--color-one-na), 0.5);
        }

        @include xs {
            padding: 5px 10px;
            width: 205px;
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__policy-wrapper {
        margin-top: 15px;
        width: 85%;
        font-size: 12px;
        cursor: pointer;

        @include xs {
            font-size: 11px;
            line-height: 16px;
        }
    }

    &__policy-label {
        cursor: pointer;
    }

    &__policy-text {
        padding-left: 5px;
    }

    &__policy-ref {
        font-weight: 700;
        text-decoration: underline;
        transition: color 0.4s;
    }

    &__submit {
        position: relative;
        overflow: hidden;
        margin-top: 20px;
        border-bottom: 2px solid var(--color-one);
        border-radius: 50px;
        padding: 10px 20px;
        width: 274px;
        height: 66px;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: calc(50% - 32px);
            z-index: -1;
            width: 100%;
            height: 64px;
            background: rgba(var(--color-one-na), 1);
            transition: transform 0.5s, width 0.5s, background 0s;

            @include xs {
                top: calc(50% - 25px);
                height: 50px;
            }
        }

        &::before {
            left: 0;
            transform: translateX(-100%);
        }

        &::after {
            right: 0;
            transform: translateX(100%);
        }

        &:hover {
            &::before {
                transform: translateX(-50%);
            }

            &::after {
                transform: translateX(50%);
            }
        }

        @include mobile {
            &::before {
                transform: translateX(-50%);
            }

            &::after {
                transform: translateX(50%);
            }
        }

        @include xs {
            margin-top: 15px;
            padding: 0 10px;
            width: 200px;
            height: 50px;
            font-size: 15px;
            line-height: 18px;
        }
    }
}

.success-message {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    text-transform: uppercase;
    opacity: 0;

    @include xs {
        font-size: 18px;
        line-height: 30px;
    }
}