.social {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        margin-right: 25px;
    }

    &__link {
        display: block;
        border-radius: 50%;
        opacity: 0.55;
        transition: all 0.3s;

        svg {
            display: block;
            width: 35px;
            height: 35px;
            fill: var(--social-net-color);
            background-position: center;
            background-repeat: no-repeat;

            @include mobile {
                width: 32px;
                height: 32px;
            }
        }

        &:hover {
            box-shadow: 0 0 10px var(--color-tree), 0 0 5px var(--color-tree) inset;
            opacity: 1;
            transform: scale(1.2);
            transition: all 0.3s;
        }

        &--tg {
            svg {
                fill: #007aff;
            }
        }

        &--wts {
            svg {
                fill: #18bb29;
            }
        }

        &--inst {
            svg {
                fill: #6f159a;
            }
        }
    }
}