@mixin desktop {
    @media (min-width: (1025px)) {
        @content;
    }
}

@mixin ultra-wide {
    @media (max-width: (1920px)) {
        @content;
    }
}

@mixin lg-max {
    @media (max-width: (1700px)) {
        @content;
    }
}

@mixin lg {
    @media (max-width: (1500px)) {
        @content;
    }
}

@mixin md-lg {
    @media (max-width: (1366px)) {
        @content;
    }
}

@mixin md {
    @media (max-width: (1200px)) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: (1024px)) {
        @content;
    }
}

@mixin mobile-sm {
    @media (max-width: (900px)) {
        @content;
    }
}

@mixin sm {
    @media (max-width: (768px)) {
        @content;
    }
}

@mixin xs {
    @media (max-width: (576px)) {
        @content;
    }
}

@mixin mobile-850h {
    @media (max-height: (850px)) and (max-width: (500px)) {
        @content;
    }
}

@mixin mobile-700h {
    @media (max-height: (700px)) and (max-width: (500px)) {
        @content;
    }
}

@mixin mobile-600h {
    @media (max-height: (600px)) and (max-width: (500px)) {
        @content;
    }
}

@mixin touchpad-1366h {
    @media (max-height: (1366px)) and (max-width: (1024px)) {
        @content;
    }
}

@mixin touchpad-1024h {
    @media (max-height: (1024px)) and (max-width: (768px)) {
        @content;
    }
}

@mixin touchpad-800h {
    @media (max-height: (800px)) and (max-width: (600px)) {
        @content;
    }
}

@mixin h560 {
    @media (max-height: (560px)) {
        @content;
    }
}

@mixin xs-rotate {
    @media (max-height: (420px)) {
        @content;
    }
}