<section class="policy-modal">
    <svg class="modal__close">
        <use xlink:href="img/sprite.svg#close"></use>
    </svg>
    <div class="policy-modal__wrap">
        <h2 class="policy-modal__title">Политика конфиденциальности</h2>
        <p class="policy-modal__paragraph">Настоящая Политика конфиденциальности (далее – Политика) устанавливает
            правила использования персональной информации, получаемой от пользователей сайта (далее – Пользователи)
            администратором сайта <span class="policy-modal__company-url">https://ДарьяКлининг.рф/</span> (далее — Компания).
            Настоящая Политика конфиденциальности применяется ко всем Пользователям Сайта. Все термины и определения,
            встречающиеся в тексте Политики толкуются в соответствии с действующим законодательством
            РФ (в частности, ФЗ «О персональных данных».)</p>
        <p class="policy-modal__paragraph">Пользователи прямо соглашаются на обработку своих персональных данных,
            как это описано в настоящей Политике. Использование Сайта означает выражение Пользователем безоговорочного
            согласия с Политикой и указанными условиями обработки информации.</p>
        <p class="policy-modal__power-paragraph">Пользователь не должен пользоваться Сайтом, если Пользователь не согласен с
            условиями Политики.</p>
        <ol class="policy-modal__list">
            <li class="policy-modal__item">
                <p class="policy-modal__power-paragraph">Персональная информация Пользователей, которую обрабатывает
                    Компания.</p>
                <ol class="policy-modal__list-point">
                    <li class="policy-modal__item-point">Сайт собирает, получает доступ и использует в определенных
                        Политикой целях персональные данные Пользователей, техническую и иную информацию, связанную
                        с Пользователями.</li>
                    <li class="policy-modal__item-point">Техническая информация не является персональными данными.
                        Компания использует файлы cookies, которые позволяют идентифицировать Пользователя. Файлы cookies –
                        это текстовые файлы, доступные Компании, для обработки информации об активности Пользователя,
                        включая информацию о том, какие страницы посещал Пользователь и о времени, которое Пользователь
                        провел на странице. Пользователь может отключить возможность использования файлов cookies в
                        настройках браузера.</li>
                    <li class="policy-modal__item-point">Также под технической информацией понимается информация, которая
                        автоматически передается Компании в процессе использования Сайта с помощью установленного на
                        устройстве Пользователя программного обеспечения.</li>
                    <li class="policy-modal__item-point">Под персональными данными Пользователя понимается информация,
                        которую Пользователь предоставляет Компании при заполнении заявки на Сайте и последующем
                        использовании Сайта. Обязательная для предоставления Компании информация помечена специальным
                        образом. Иная информация предоставляется Пользователем на его усмотрение.</li>
                    <li class="policy-modal__item-point">Компания также может обрабатывать данные, сделанные общедоступными
                        субъектом персональных данных или подлежащие опубликованию, или обязательному раскрытию в
                        соответствии с законом.</li>
                    <li class="policy-modal__item-point">Компания не проверяет достоверность персональной информации,
                        предоставляемой Пользователем, и не имеет возможности оценивать его дееспособность.
                        Однако Компания исходит из того, что Пользователь предоставляет достоверную и достаточную
                        персональную информацию о себе и поддерживает эту информацию в актуальном состоянии.</li>
                </ol>
            </li>
            <li class="policy-modal__item">
                <p class="policy-modal__power-paragraph">Цели обработки персональной информации Пользователей.</p>
                <ol class="policy-modal__list-point">
                    <li class="policy-modal__item-point">Главная цель Компании при сборе персональных данных —
                        предоставление информационных, консультационных услуг Пользователям. Пользователи соглашаются с тем,
                        что Компания также может использовать их персональные данные для:
                        <ul class="policy-modal__list-sub-point">
                            <li class="policy-modal__item-sub-point">Идентификации стороны в рамках предоставляемых услуг;</li>
                            <li class="policy-modal__item-sub-point">Предоставления услуг и клиентской поддержки по запросу
                                Пользователей;</li>
                            <li class="policy-modal__item-sub-point">Улучшение качества услуг, удобства их использования,
                                разработка и развитие Сайта, устранения технических неполадок или проблем с безопасностью;</li>
                            <li class="policy-modal__item-sub-point">Анализ для расширения и совершенствования услуг,
                                информационного наполнения и рекламы услуг;</li>
                            <li class="policy-modal__item-sub-point">Информирования Пользователей об услугах, целевом
                                маркетинге, обновлении услуг и рекламных предложениях на основании информационных
                                предпочтений Пользователей;</li>
                            <li class="policy-modal__item-sub-point">Таргетирование рекламных материалов; рассылки
                                индивидуальных маркетинговых сообщений посредством электронной почты, звонки и SMS;</li>
                            <li class="policy-modal__item-sub-point">Проведение статистических и иных исследований,
                                на основе обезличенных данных;</li>
                        </ul>
                    </li>
                    <li class="policy-modal__item-point">Компания использует техническую информацию обезличено в целях,
                        указанных в пп.1 п.2.</li>
                </ol>
            </li>
            <li class="policy-modal__item">
                <p class="policy-modal__power-paragraph">Условия и способы обработки персональной информации Пользователей
                    и её передачи третьим лицам.</p>
                <ol class="policy-modal__list-point">
                    <li class="policy-modal__item-point">Пользователь дает согласие на обработку своих персональных данных
                        путём отправки заявки (любой письменный запрос, содержащий контактные данные).</li>
                    <li class="policy-modal__item-point">Обработка персональных данных Пользователя означает сбор, запись,
                        систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование,
                        передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление,
                        уничтожение персональных данных Пользователя.</li>
                    <li class="policy-modal__item-point">В отношении персональной информации Пользователя сохраняется ее
                        конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для
                        общего доступа неограниченному кругу лиц.</li>
                    <li class="policy-modal__item-point">Компания вправе передать персональную информацию Пользователя
                        третьим лицам в следующих случаях:
                        <ul class="policy-modal__list-sub-point">
                            <li class="policy-modal__item-sub-point">Пользователь выразил согласие на такие действия;</li>
                            <li class="policy-modal__item-sub-point">Передача необходима для использования Пользователем
                                определенной услуги Сайта либо для исполнения определенного договора или соглашения с
                                Пользователем;</li>
                            <li class="policy-modal__item-sub-point">Передача уполномоченным органам государственной власти
                                Российской Федерации по основаниям и в порядке, установленным законодательством Российской
                                Федерации;</li>
                            <li class="policy-modal__item-sub-point">В целях обеспечения возможности защиты прав и законных
                                интересов Компании или третьих лиц в случаях, когда Пользователь нарушает условия договоров
                                и соглашений с Компанией, настоящую Политику, либо документы, содержащие условия использования
                                конкретных услуг;</li>
                            <li class="policy-modal__item-sub-point">В результате обработки персональной информации
                                Пользователя путем ее обезличивания получены обезличенные статистические данные, которые
                                передаются третьему лицу для проведения исследований, выполнения работ или оказания услуг
                                по поручению Компании.</li>
                        </ul>
                    </li>
                </ol>
            </li>
            <li class="policy-modal__item">
                <p class="policy-modal__power-paragraph">Меры, применяемые для защиты персональной информации Пользователя.</p>
                <ol class="policy-modal__list-point">
                    <li class="policy-modal__item-point">Компания принимает необходимые и достаточные правовые,
                        организационные и технические меры для защиты персональной информации Пользователя от
                        неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования,
                        распространения, а также от иных неправомерных действий с ней третьих лиц.</li>
                </ol>
            </li>
            <li class="policy-modal__item">
                <p class="policy-modal__power-paragraph">Разрешение споров.</p>
                <ol class="policy-modal__list-point">
                    <li class="policy-modal__item-point">Все возможные споры, вытекающие из отношений, регулируемых
                        настоящей Политикой, разрешаются в порядке, установленном действующим законодательством Российской
                        Федерации, по нормам российского права.</li>
                    <li class="policy-modal__item-point">Соблюдение досудебного (претензионного) порядка урегулирования
                        споров является обязательным.</li>
                </ol>
            </li>
            <li class="policy-modal__item">
                <p class="policy-modal__power-paragraph">Дополнительные условия.</p>
                <ol class="policy-modal__list-point">
                    <li class="policy-modal__item-point">Компания вправе вносить изменения в настоящую Политику
                        конфиденциальности без согласия Пользователя.</li>
                    <li class="policy-modal__item-point">Новая Политика конфиденциальности вступает в силу с момента ее
                        размещения, если иное не предусмотрено новой редакцией Политики конфиденциальности.</li>
                    <li class="policy-modal__item-point">Продолжение использования Сайта после внесения таких изменений
                        подтверждает согласие Пользователя с такими изменениями.</li>
                </ol>
            </li>
        </ol>
    </div> <!-- /.policy-modal__wrap -->
</section>