.advantages {
    overflow: hidden;
    padding: 50px 0 100px;
    background: linear-gradient(to right, rgba(var(--color-four-na), 1) 0%, rgba(var(--color-four-na), 0) 100%);

    &__container {
        position: relative;

        @include lg {
            width: 100%;
        }
    }

    &__title {
        position: absolute;
        left: 40px;
        top: 0;
        margin: 0;
        width: auto;
        text-shadow: 0 0 5px var(--color-two);
        color: var(--color-five);

        @include xs {
            left: 25px;
            display: block;
            width: 280px;
        }
    }

    &__count {
        font-size: 50px;
        text-shadow: 0 0 5px var(--color-tree);
        color: rgba(var(--color-two-na), 0.8);
        opacity: 0;
        transform: translateX(-100px);

        @include mobile {
            font-size: 44px;
        }

        @include sm {
            font-size: 42px;
        }

        @include xs {
            font-size: 38px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 150px;

        @include xs {
            padding-top: 140px;
        }
    }

    &__item {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 15px 50px;
        border-radius: 20px;
        padding: 20px;
        width: 310px;
        background: linear-gradient(to right, rgba(var(--color-two-na), 0.55) 0%, rgba(var(--color-two-na), 1) 100%);
        opacity: 0;
        transform: translateX(150px);

        &::before {
            content: "1";
            position: absolute;
            left: 20px;
            bottom: 0;
            z-index: -1;
            font-family: "Oswald", sans-serif;
            font-size: 350px;
            color: rgba(var(--color-two-na), 0.2);

            @include xs {
                font-size: 340px;
            }
        }

        &:nth-child(2)::before {
            content: "2";
        }

        &:nth-child(3)::before {
            content: "3";
        }

        &:nth-child(4)::before {
            content: "4";
        }

        &-img {
            align-self: flex-end;
            margin: 30px 0;
            border: 2px solid rgba(var(--color-one-na), 0.5);
            border-radius: 20px;
            padding: 5px;
            width: 120px;
            height: 120px;

            img {
                border: 2px solid rgba(var(--color-one-na), 0.2);
                padding: 5px;
            }
        }

        &-title {
            padding: 0 10px;
            font-size: 24px;
            line-height: 36px;
            text-shadow: 0 0 3px var(--color-two);
            text-transform: uppercase;
            color: var(--color-five);

            @include xs {
                font-size: 22px;
                line-height: 32px;
            }
        }

        &-description {
            font-size: 18px;
            line-height: 22px;
            text-shadow: 0 0 3px var(--color-two);
            color: rgba(var(--color-five-na), 0.75);

            @include xs {
                font-size: 17px;
            }
        }

        @include lg {
            margin: 0 10px 50px;
            width: 305px;
        }

        @include xs {
            width: 285px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.advantages__title-item {
    display: inline-block;
}

.advantages__letter-ws {
    position: relative;
    display: inline-block;
    white-space: pre;
    opacity: 0;
    transform: translateX(-100px);
}