.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 50px;
    font-size: 16px;
    text-align: center;
    background: rgba(var(--color-two-na), 0.8);

    a {
        color: var(--color-tree);
        transition: color 0.3s, transform 0.3s;
    }

    &__container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__left {
        @include xs {
            margin-top: 60px;
            margin-bottom: 20px;
            width: 100%;
        }
    }

    &__middle {
        position: absolute;
        left: 30%;
        top: -130px;

        @include lg {
            left: 25%;
        }

        @include md {
            top: -110px;
        }

        @include mobile-sm {
            top: -95px;
        }

        @include sm {
            top: -80px;
        }

        @include xs {
            left: 5px;
        }
    }

    &__right {
        @include md {
            align-self: flex-end;
        }

        @include xs {
            width: 100%;
        }
    }

    &__list-ref {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @include xs {
            align-items: center;
        }
    }

    &__item-ref {
        margin-bottom: 10px;

        .main-link {
            font-style: italic;
            font-size: 16px;

            @include mobile-sm {
                font-size: 14px;
            }
        }
    }

    &__logo {
        width: 480px;

        .logo__one-word {
            font-size: 120px;

            @include mobile-sm {
                font-size: 110px;
            }

            @include sm {
                font-size: 95px;
            }

            @include xs {
                font-size: 86px;
            }
        }

        .logo__two-word {
            font-size: 60px;

            @include mobile-sm {
                font-size: 50px;
            }

            @include sm {
                font-size: 42px;
            }

            @include xs {
                font-size: 36px;
            }
        }

        @include mobile-sm {
            width: 410px;
        }

        @include sm {
            width: 345px;
        }

        @include xs {
            width: 305px;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        .social {
            @include xs {
                order: 1;
                margin-bottom: 20px;

                .social__item:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__link {
        &--tel:hover {
            svg {
                animation: calling 2s linear infinite;
            }
        }

        &--mail:hover {
            svg {
                animation: mailTo 1.5s linear infinite;
            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 20px;

        &-ref {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-weight: 500;
        }

        svg {
            margin-right: 10px;
            width: 28px;
            height: 28px;
            fill: var(--color-tree);

            @include mobile {
                width: 24px;
                height: 24px;
            }
        }

        @include md {
            margin-bottom: 5px;
        }

        @include xs {
            align-items: center;
            order: 2;
        }
    }

    @include md {
        padding: 20px 0 30px;
    }

    @include mobile-sm {
        font-size: 14px;
    }
}