.swiper-container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper-container {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    transition: opacity 0.6s ease;

    &:hover {
        .swiper-button-prev,
        .swiper-button-next {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
            transition: opacity 0.3s;
        }
    }

    &.swiper-container-coverflow {
        padding: 2% 0 calc(2% + 30px) 0;
    }

    @include mobile {
        height: 450px;
    }
}

.swiper-slide {
    border-radius: 25px;
    box-shadow: 0 0 9px #000;
    background: rgba(var(--color-one-na), 0.15);
    background-image: url("../img/promotions/bg_promo.png");
    background-position: center;
    background-size: cover;

    .swiper-content {
        position: absolute;
        left: 2%;
        bottom: 4%;
        border-radius: 10px;
        padding: 10px 16px;
        max-width: 70%;
        color: rgba(var(--color-one-na), 1);
        background: rgba(0, 0, 0, 0.6);

        .swiper-title {
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 26px;

            @include md {
                font-size: 24px;
            }

            @include mobile {
                font-size: 22px;
            }

            @include sm {
                font-size: 20px;
            }

            @include xs {
                font-size: 16px;
            }
        }

        .swiper-caption {
            display: block;
            font-size: 15px;
            line-height: 1.4;

            @include sm {
                font-size: 13px;
            }
        }

        @include xs {
            max-width: 96%;
        }
    }

    .swiper-slide-shadow-left {
        border-radius: 25px;
    }

    .swiper-slide-shadow-right {
        border-radius: 25px;
    }

    @include md {
        width: 85%;
    }

    @include sm {
        background-image: url("../img/promotions/bg_promo_sm.png");
    }

    @include xs {
        background-image: url("../img/promotions/bg_promo_xs.png");
    }
}

[class^="swiper-button-"] {
    width: 44px;
    color: var(--color-two);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.swiper-button-prev {
    transform: translateX(50px);
}

.swiper-button-next {
    transform: translateX(-50px);
}

.swiper-container-horizontal {
    > .swiper-pagination-bullets {
        .swiper-pagination-bullet {
            position: relative;
            bottom: 0;
            margin: 0 10px;
            width: 12px;
            height: 12px;
            background-color: var(--color-two);
            opacity: 0.5;
            transition: all 0.3s ease;

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                border: 2px solid rgba(var(--color-one-na), 1);
                border-radius: 50%;
                width: 18px;
                height: 18px;
                transform: translate(-50%, -50%);
            }

            &:hover,
            &.swiper-pagination-bullet-active {
                opacity: 1;
                transition: opacity 0.3s;
            }
        }

        @include sm {
            bottom: 4px;
        }
    }
}

.promotions {
    padding: 150px 0;

    &__container {
    }

    &__content {
        padding: 30px 70px;
        width: 100%;
        height: 100%;

        @include mobile {
            padding: 30px 50px;
        }

        @include sm {
            padding: 30px;
        }

        @include xs {
            padding: 20px;
        }
    }

    &__text {
        overflow: auto;
        border-radius: 10px;
        padding: 20px;
        height: 65%;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        text-align: center;
        text-shadow: 0 0 5px #000;
        color: var(--color-tree);
        background: rgba(0, 0, 0, 0.3);

        @include mobile {
            font-size: 28px;
            line-height: 40px;
        }

        @include sm {
            font-size: 26px;
            line-height: 34px;
        }

        @include xs {
            padding: 20px 15px;
            height: 75%;
            font-size: 22px;
            line-height: 28px;
        }
    }

    &__discount {
        font-size: 40px;
        line-height: 42px;
        color: rgba(var(--color-one-na), 1);

        @include mobile {
            font-size: 32px;
            line-height: 40px;
        }

        @include sm {
            font-size: 28px;
            line-height: 36px;
        }

        @include xs {
            font-size: 26px;
            line-height: 32px;
        }
    }

    @include sm {
        padding: 100px 0;
    }
}