<section class="advantages" id="advantages">
    <div class="container advantages__container">
        <h2 class="advantages__title main-title">
            <span class="advantages__count">4</span>
            <span class="advantages__title-item advantages__title-first">Причины, почему</span><br>
            <span class="advantages__title-item advantages__title-second">выбирают именно нас:</span></h2>
        <div class="advantages__list">
            <article class="advantages__item advantages__item-first">
                <div class="advantages__item-img">
                    <img src="img/advantages/experience-color.png" alt="Опыт" width="106" height="106">
                </div>
                <h3 class="advantages__item-title">Опытные специалисты</h3>
                <div class="advantages__item-description">
                    <p>Опыт в клининге от 5 лет</p>
                </div>
            </article>
            <article class="advantages__item advantages__item-second">
                <div class="advantages__item-img">
                    <img src="img/advantages/quality-color.png" alt="Качество" width="106" height="106">
                </div>
                <h3 class="advantages__item-title">Гарантия качества</h3>
                <div class="advantages__item-description">
                    <p>Исправим недочеты, если не понравится результат</p>
                </div>
            </article>
            <article class="advantages__item advantages__item-third">
                <div class="advantages__item-img">
                    <img src="img/advantages/convenience-color.png" alt="Удобство" width="106" height="106">
                </div>
                <h3 class="advantages__item-title">Приходим, когда Вам удобно</h3>
                <div class="advantages__item-description">
                    <p>Время уборки назначаете Вы</p>
                </div>
            </article>
            <article class="advantages__item advantages__item-fourth">
                <div class="advantages__item-img">
                    <img src="img/advantages/silent-color.png" alt="Тишина" width="106" height="106">
                </div>
                <h3 class="advantages__item-title">Работаем тихо</h3>
                <div class="advantages__item-description">
                    <p>Мы заботимся о комфорте клиента, выполняем работу без лишних разговоров и отвлечения на телефонные звонки</p>
                </div>
            </article>
        </div> <!-- /.advantages__list -->
    </div> <!-- /.advantages__container -->
</section> <!-- /.advantages -->