<section class="footer">
    <div class="container footer__container">

        <h2 class="visually-hidden">Футер, навигация, контакты, политика конфиденциальности компании Дарья клининг</h2>
        <div class="footer__left">
            <ul class="footer__list-ref">
                <li class="footer__item-ref">
                    <a class="main-link" href="#services">Услуги</a>
                </li>
                <li class="footer__item-ref">
                    <a class="main-link" href="#calc">Калькулятор</a>
                </li>
                <li class="footer__item-ref">
                    <a class="main-link" href="#promotions">Акции</a>
                </li>
                <li class="footer__item-ref">
                    <a class="main-link" href="#advantages">Почему мы?</a>
                </li>
                <li class="footer__item-ref">
                    <a class="main-link" href="#staff">Наш персонал</a>
                </li>
                <li class="footer__item-ref">
                    <a class="main-link" href="#faq">Вопросы и ответы</a>
                </li>
                <li class="footer__item-ref">
                    <a class="main-link js-policy-ref" href="#">Политика конфиденциальности</a>
                </li>
            </ul>
        </div>

        <div class="footer__middle">
            <div class="footer__logo logo">
                <span class="logo__one-word">Дарья</span>
                <span class="logo__two-word">Клининг</span>
            </div>
        </div>

        <div class="footer__right">
            <div class="footer__contact">
                <a href="tel:+79917501388" class="footer__link--tel footer__contact-ref">
                    <svg>
                        <use xlink:href="img/sprite.svg#call"></use>
                    </svg>
                    <span class="footer__contact-data">+7 991 750 13 88</span>
                </a>
                <a href="mailto:daryacleaning@gmail.com" class="footer__link--mail footer__contact-ref">
                    <svg>
                        <use xlink:href="img/sprite.svg#mail"></use>
                    </svg>
                    <span class="footer__contact-data">daryacleaning@gmail.com</span>
                </a>
            </div> <!-- /.footer__contact -->
            @include('../social_net.html')
        </div>

    </div> <!-- /.footer__container -->
</section> <!-- /.footer -->