<header class="header">
    <div class="site-container header__container">
        <div class="logo-wrapper">
            <div class="header__logo logo">
                <span class="logo__one-word">Дарья</span>
                <span class="logo__two-word">Клининг</span>
            </div>
        </div>
        <div class="header__info">
            <div class="header__covid">
                <div class="header__covid-img">
                    <img src="img/header/covid-19.png" alt="Ковид 19" width="50" height="50">
                </div>
                <div class="header__covid-decor">
                    <span class="header__covid-text">Мы приняли меры безопасности !</span>
                </div>
            </div>
            <div class="header__contact-wrap">
                <div class="header__contact">
                    <a href="tel:+79917501388" class="header__link header__link--tel">
                        <svg>
                            <use xlink:href="img/sprite.svg#call"></use>
                        </svg>
                        <span class="header__contact-data">+7 991 750 13 88</span>
                    </a>
                    <a href="mailto:daryacleaning@gmail.com" class="header__link header__link--mail">
                        <svg>
                            <use xlink:href="img/sprite.svg#mail"></use>
                        </svg>
                        <span class="header__contact-data">daryacleaning@gmail.com</span>
                    </a>
                </div> <!-- /.header__contact -->
                <div class="header__social">
                    @include('../social_net.html')
                </div> <!-- /.header__social -->
            </div> <!-- /.header__contact-wrap -->
        </div> <!-- /.header__info -->
    </div> <!-- /.header__container -->
</header>