<section class="services" id="services">
    <h2 class="visually-hidden">Раздел выбора услуг клининговой службы</h2>
    <div class="services__bg services__bg--active"></div>
    <div class="services__bg"></div>
    <div class="site-container services__container">
        <div class="slideshow">
            <ul class="navigation">
                <li class="navigation-item active" data-service="maintenance_cleaning">
                    <span class="rotate-holder"></span>
                    <span class="background-holder"></span>
                </li>
                <li class="navigation-item" data-service="general_cleaning">
                    <span class="rotate-holder"></span>
                    <span class="background-holder"></span>
                </li>
                <li class="navigation-item" data-service="cleaning_up_after_renovation">
                    <span class="rotate-holder"></span>
                    <span class="background-holder"></span>
                </li>
                <li class="navigation-item" data-service="steam_cleaner">
                    <span class="rotate-holder"></span>
                    <span class="background-holder"></span>
                </li>
                <li class="navigation-item" data-service="washing_windows">
                    <span class="rotate-holder"></span>
                    <span class="background-holder"></span>
                </li>
                <li class="navigation-item" data-service="additional_services">
                    <span class="rotate-holder"></span>
                    <span class="background-holder"></span>
                </li>
            </ul> <!-- /.navigation -->

            <div class="detail">
                <div class="detail-item active" data-service="maintenance_cleaning">
                    <div class="headline">Поддерживающая уборка</div>
                    <div class="background"></div>
                    <div class="detail-item__btn-wrap">
                        <button class="detail-item__btn">Подробнее</button>
                    </div>
                </div>
                <div class="detail-item" data-service="general_cleaning">
                    <div class="headline">Генеральная уборка</div>
                    <div class="background"></div>
                    <div class="detail-item__btn-wrap">
                        <button class="detail-item__btn">Подробнее</button>
                    </div>
                </div>
                <div class="detail-item" data-service="cleaning_up_after_renovation">
                    <div class="headline">Уборка после ремонта</div>
                    <div class="background"></div>
                    <div class="detail-item__btn-wrap">
                        <button class="detail-item__btn">Подробнее</button>
                    </div>
                </div>
                <div class="detail-item" data-service="steam_cleaner">
                    <div class="headline">Обработка паром</div>
                    <div class="background"></div>
                    <div class="detail-item__btn-wrap">
                        <button class="detail-item__btn">Подробнее</button>
                    </div>
                </div>
                <div class="detail-item" data-service="washing_windows">
                    <div class="headline">Мытье окон</div>
                    <div class="background"></div>
                    <div class="detail-item__btn-wrap">
                        <button class="detail-item__btn">Подробнее</button>
                    </div>
                </div>
                <div class="detail-item" data-service="additional_services">
                    <div class="headline">Дополнительные услуги</div>
                    <div class="background"></div>
                    <div class="detail-item__btn-wrap">
                        <button class="detail-item__btn">Подробнее</button>
                    </div>
                </div>
            </div> <!-- /.detail -->

        </div> <!-- /.slideshow -->
    </div>
</section> <!-- /.services -->