<section class="staff" id="staff">
    <div class="container staff__container">
        <div class="staff__title-line">
            <h2 class="staff__title main-title">Наша команда</h2>
            <p class="staff__title-about">
                У нас работают только профессионалы своего дела.
                Каждый сотрудник имеет опыт работы более 5 лет в клининговой сфере.
            </p>
        </div>

        <div class="staff__list">
            <article class="staff__item">
                <h4 class="visually-hidden">Наш сотрудник</h4>
                <div class="staff__photo">
                    <img src="img/staff/photo_1.jpg" alt="Фотография сотрудника">
                </div>
                <div class="staff__description">
                    <div class="staff__name">Анатолий</div>
                    <div class="staff__name">Вассерман</div>
                    <div class="staff__post">Лучший клинер</div>
                </div>
            </article>
            <article class="staff__item">
                <h4 class="visually-hidden">Наш сотрудник</h4>
                <div class="staff__photo">
                    <img src="img/staff/photo_1.jpg" alt="Фотография сотрудника">
                </div>
                <div class="staff__description">
                    <div class="staff__name">Эдуард</div>
                    <div class="staff__name">Суровый</div>
                    <div class="staff__post">Лучший клинер</div>
                </div>
            </article>
            <article class="staff__item">
                <h4 class="visually-hidden">Наш сотрудник</h4>
                <div class="staff__photo">
                    <img src="img/staff/photo_1.jpg" alt="Фотография сотрудника">
                </div>
                <div class="staff__description">
                    <div class="staff__name">Илон</div>
                    <div class="staff__name">Маск</div>
                    <div class="staff__post">Лучший клинер</div>
                </div>
            </article>
            <article class="staff__item">
                <h4 class="visually-hidden">Наш сотрудник</h4>
                <div class="staff__photo">
                    <img src="img/staff/photo_1.jpg" alt="Фотография сотрудника">
                </div>
                <div class="staff__description">
                    <div class="staff__name">Святослав</div>
                    <div class="staff__name">Коваленко</div>
                    <div class="staff__post">Клинер</div>
                </div>
            </article>
            <article class="staff__item">
                <h4 class="visually-hidden">Наш сотрудник</h4>
                <div class="staff__photo">
                    <img src="img/staff/photo_1.jpg" alt="Фотография сотрудника">
                </div>
                <div class="staff__description">
                    <div class="staff__name">Дмитрий</div>
                    <div class="staff__name">Архиджанян</div>
                    <div class="staff__post">Управляющий</div>
                </div>
            </article>
        </div> <!-- /.staff__list -->


    </div> <!-- /.staff__container -->
</section> <!-- /.staff -->