@keyframes calling {
    0% {
        transform: rotate(0);
    }

    5% {
        transform: rotate(30deg);
    }

    10% {
        transform: rotate(-28deg);
    }

    15% {
        transform: rotate(34deg);
    }

    20% {
        transform: rotate(-32deg);
    }

    25% {
        transform: rotate(30deg);
    }

    30% {
        transform: rotate(-28deg);
    }

    35% {
        transform: rotate(26deg);
    }

    40% {
        transform: rotate(-24deg);
    }

    45% {
        transform: rotate(22deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    55% {
        transform: rotate(18deg);
    }

    60% {
        transform: rotate(-16deg);
    }

    65% {
        transform: rotate(14deg);
    }

    70% {
        transform: rotate(-12deg);
    }

    75% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    85% {
        transform: rotate(6deg);
    }

    90% {
        transform: rotate(-4deg);
    }

    95% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(-1deg);
    }
}

@keyframes mailTo {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(-4px) translateY(-3px);
    }

    25% {
        transform: translateX(-4px) translateY(0);
    }

    35% {
        transform: translateX(-2px) translateY(3px);
    }

    50% {
        transform: translateX(2px) translateY(3px);
    }

    65% {
        transform: translateX(4px) translateY(0);
    }

    75% {
        transform: translateX(4px) translateY(-3px);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(109, 139, 138, 0.4);
    }

    50% {
        box-shadow: 0 0 0 50px rgba(109, 139, 138, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(109, 139, 138, 0);
    }
}

@keyframes hoverWave {
    0% {
        box-shadow: 0 0 10px rgba(213, 235, 247, 0.5), 0 0 0 0 rgba(213, 235, 247, 0.35), 0 0 0 0 rgba(213, 235, 247, 0.35);
    }

    40% {
        box-shadow: 0 0 10px rgba(213, 235, 247, 0.5), 0 0 0 15px rgba(213, 235, 247, 0.35), 0 0 0 0 rgba(213, 235, 247, 0.35);
    }

    80% {
        box-shadow: 0 0 10px rgba(213, 235, 247, 0.5), 0 0 0 30px rgba(213, 235, 247, 0), 0 0 0 26.7px rgba(213, 235, 247, 0.15);
    }

    100% {
        box-shadow: 0 0 10px rgba(213, 235, 247, 0.5), 0 0 0 30px rgba(213, 235, 247, 0), 0 0 0 40px rgba(213, 235, 247, 0);
    }
}

@keyframes hoverWaveBtn {
    0% {
        box-shadow: 0 0 5px rgba(109, 139, 138, 0.5), 0 0 0 0 rgba(109, 139, 138, 0.35), 0 0 0 0 rgba(109, 139, 138, 0.35);
    }

    40% {
        box-shadow: 0 0 5px rgba(109, 139, 138, 0.5), 0 0 0 7px rgba(109, 139, 138, 0.35), 0 0 0 0 rgba(109, 139, 138, 0.35);
    }

    80% {
        box-shadow: 0 0 5px rgba(109, 139, 138, 0.5), 0 0 0 15px rgba(109, 139, 138, 0), 0 0 0 13px rgba(109, 139, 138, 0.15);
    }

    100% {
        box-shadow: 0 0 5px rgba(109, 139, 138, 0.5), 0 0 0 15px rgba(109, 139, 138, 0), 0 0 0 20px rgba(109, 139, 138, 0);
    }
}

@keyframes hoverWaveBtnTarget {
    0% {
        box-shadow: 0 0 5px rgba(109, 139, 138, 0.5), 0 0 0 0 rgba(109, 139, 138, 0.35), 0 0 0 0 rgba(109, 139, 138, 0.35);
    }

    40% {
        box-shadow: 0 0 5px rgba(118, 209, 236, 0.5), 0 0 0 7px rgba(118, 209, 236, 0.35), 0 0 0 0 rgba(118, 209, 236, 0.35);
    }

    80% {
        box-shadow: 0 0 5px rgba(109, 139, 138, 0.5), 0 0 0 15px rgba(109, 139, 138, 0), 0 0 0 13px rgba(109, 139, 138, 0.15);
    }

    100% {
        box-shadow: 0 0 5px rgba(118, 209, 236, 0.5), 0 0 0 15px rgba(118, 209, 236, 0), 0 0 0 20px rgba(118, 209, 236, 0);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.25) translateX(5%) translateY(5%);
    }

    40% {
        transform: scale(1.5) translateX(9%) translateY(10%);
    }
}