:root {
    // для меня
    --one: rgb(0, 219, 254);
    --two: rgb(20, 29, 40);
    --tree: rgb(213, 235, 247);
    --four: rgb(109, 139, 138);
    --five: rgb(184, 209, 199);

    // COLORS
    --color-one-na: 118, 209, 236;    // #76d1ec
    --color-two-na: 20, 29, 40;       // #141d28
    --color-tree-na: 213, 235, 247;   // #d5ebf7
    --color-four-na: 109, 139, 138;   // #6d8b8a
    --color-five-na: 184, 209, 199;   // #b8d1c7
    --color-one: rgba(var(--color-one-na), 1);
    --color-two: rgba(var(--color-two-na), 1);
    --color-tree: rgba(var(--color-tree-na), 1);
    --color-four: rgba(var(--color-four-na), 1);
    --color-five: rgba(var(--color-five-na), 1);
    --text-color: var(--color-two);
    --link-color: var(--color-two);
    --border-color: var(--color-four);
    --background-color: var(--color-five);
    --social-net-color: var(--color-tree);
    --error: 214, 75, 75;
    --error-message: rgba(var(--error), 1);

    // DELAY
    --delay-modal-on: 0.5s;        // задержка анимации на открытие модальных окон
    --delay-modal-off: 0.3s;       // задержка анимации на закрытие модальных окон
    --delay-overlay: 0.3s;         // задержка анимации на закрытие оверлея окна
}